.search-form-container {
    width: 80%;
    margin: 15px auto;
}

.search-form-container .form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.search-form-container .form-container .search-icon {
    flex: 0.015;
}

.search-form-container .form-container .search-field {
    flex: 1;
}

.search-form-container .form-container input[name='search'] {
    width: 100%;
    height: 38px;
    border: 0.8px solid #9e9e9ee5;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 18px;
    color: #363636;
    letter-spacing: 1px;
    padding-left: 20px;
}

.search-form-container .form-container button {
    width: 100%;
    height: 42px;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0.8px solid #9e9e9ee5;
    border-left: none;
    font-size: 18px;
    color: #9e9e9e;
    padding-right: 15px;
    text-align: center;
}

.search-form-container .form-container input:focus {
    outline: none;
}

.search-form-container .form-container button:focus {
    outline: none;
}